* {
    cursor: none;
}

body{
    background-color:black;
}

figure#mouse-pointer {
    background-image: url('gifs/banana.gif');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    margin-left: 0px; 
    display: block;
}

h1 {
    font-family: helvetica;
    text-align: center;
    color: white;
}

#imgHeight {
    max-height: 275px;
    max-width: 90%;
}
        
.btn-group btnHeight {
    width: 33%;
    height: 300px;
}
            
.btn-group button {
    border-radius: 5px;
    width:33%;
    height:300px;
    background-color: #4CAF50;
    border: 1px solid black;
    padding: 10px 24px;
    float: left;
}
            
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; 
}

.btn-group button:hover {
   background-color: #3e8e41;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #55ACEE;;
    color: white;
}

.fa-bold {
    background: red;;
    color: white;
}

.fa-random {
    background: red;;
    color: white;
}

.fa-pause-circle {
    background: red;
    color: white;
}

.fa-download {
  background: purple;
  color: white;
}