* {
    cursor: none;
}

body{
    background-color:black;
}

figure#mouse-pointer {
    background-image: url('banana.gif');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    margin-left: 0px; 
    display: block;
}

h1 {
    font-family: helvetica;
    text-align: center;
    color: white;
}