* {
    cursor: none;
}

body{
    background-color:black;
}

figure#mouse-pointer {
    background-image: url('gifs/banana.gif');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    margin-left: 0px; 
    display: block;
}

h1 {
    font-family: helvetica;
    text-align: center;
    color: white;
}

#imgHeight {
    max-height: 275px;
    max-width: 90%;
}
        
.btn-group btnHeight {
    width: 33%;
    height: 300px;
}
            
.btn-group button {
    border-radius: 5px;
    width:33%;
    height:300px;
    background-color: #4CAF50;
    border: 1px solid green;
    padding: 10px 24px;
    float: left;
}
            
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; 
}

.btn-group button:hover {
   background-color: #3e8e41;
}